.food>li li {
    
    border-left: 4px solid aqua;
    border-bottom-left-radius: 30% ;
    border-bottom: 3px solid aquamarine ;
    border-top-color: transparent;
    border-right-color: transparent;
   

    
}
.food>li {
    border: 5px solid chartreuse;
    border-radius: 3%;
    border-bottom-right-radius: 7%;
    
}
span {
    background-color: yellow;
}
strong {
    color: rebeccapurple;
}
em {
    color: rebeccapurple;
}

article p:first-child::first-line { 
    font-size: 120%; 
    font-weight: bold; 
  }