a {
    list-style-type: none;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
}
body {
    background-color: antiquewhite;
    margin-left: 5%;
    margin-right: 6%;
    margin-bottom: 10%;
}