a {
    list-style-type: none;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
}
body {
    background-color: antiquewhite;
    margin-left: 5%;
    margin-right: 6%;
    margin-bottom: 10%;
}
nav 
{
    border-bottom: 1px solid black;
}

.crumbs ol {
    list-style-type: none;
    padding-left:0;
}

.crumb {
    display: inline-block;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}